<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body> 
    <div id="app">
        <select v-model="selectedIngredient1" :changed="">
            <option v-for="ingredient of ingredients" :value="ingredient">{{ ingredient.name }}</option>
        </select>
        <br>
        <select v-model="selectedIngredient2">
            <option v-for="ingredient of ingredients" :value="ingredient">{{ ingredient.name }}</option>
        </select>
        <br>
        <select v-model="selectedIngredient3">
            <option v-for="ingredient of ingredients" :value="ingredient">{{ ingredient.name }}</option>
        </select>
        <br>
        <select v-model="selectedIngredient4">
            <option v-for="ingredient of ingredients" :value="ingredient">{{ ingredient.name }}</option>
        </select>
        <br>                
        selectedIngredient1: {{selectedIngredient1?.name}}<br>
        selectedIngredient2: {{selectedIngredient2?.name}}<br>
        selectedIngredient3: {{selectedIngredient3?.name}}<br>
        selectedIngredient4: {{selectedIngredient4?.name}}<br>
        recipe pool: {{selectedIngredient1?.type}}<br>
        total crampower: {{totalCrampower}}
        fusionResult: {{fusionResult}}
    </div>
    <script src="main.js"></script>
</body>
</html>